language: c

env:
	matrix:
		- CROSS_COMPILE=arm-none-eabi
		- CROSS_COMPILE=avr

before_install:
	- sudo apt-get update -qq
	- sudo apt-get install -y gcc-arm-none-eabi
	- sudo apt-get install -y gcc-avr binutils-avr avr-libc

script: make
