language: c

before_install:

# setup toolchains
- sudo apt-add-repository 'deb http://archive.ubuntu.com/ubuntu trusty main universe multiverse restricted'
- sudo apt-get update -qq
- sudo apt-get install -y gcc-arm-none-eabi
- sudo apt-get install -y gcc-avr binutils-avr avr-libc

# setup cpputest v3.8
- git clone git://github.com/cpputest/cpputest.git -b v3.8
- cd cpputest
- ./autogen.sh
- ./configure
- make && sudo make install
- cd ../

script:
# build and run unit tests
- make CROSS_COMPILE= TARGET=x86 run_tests
- make CROSS_COMPILE= TARGET=x86 clean

# build library
- make CROSS_COMPILE=arm-none-eabi- TARGET=stm32f4 build_prod
- make CROSS_COMPILE=arm-none-eabi- TARGET=stm32f4 clean
- make CROSS_COMPILE=avr- TARGET=avr build_prod
- make CROSS_COMPILE=avr- TARGET=avr clean
- make CROSS_COMPILE= TARGET=x86 build_prod
- make CROSS_COMPILE= TARGET=x86 clean

install: true
